/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 mars 2014, 23:46:29
    Author     : Alexandre
*/

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.circular-200 {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.circular-100 {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.center {
    text-align: center;
    vertical-align: middle;
}

.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: -0.25em;
}